<!DOCTYPE html>
<html lang="en">
<head>
  <title>Menu Page</title>
</head>

<%- include('partials/_header') -%>
<body>
	<!-- <%- include('partials/_nav')-%> -->
				<% for (food of menu) { %>
          <article class="menu">
            <section class="menu_preview">
              <ul style="list-style: none;">
                <li class="food_name"><%= food.name %></li>
                <li><img class="food_image" src="<%= food.picture_url %>"></li>
                <li><%= food.description %></li>
                <li><%= food.price %></li>
              </ul>
            </section>
          </article>
				<% } %>
</body>




