<!DOCTYPE html>
<html lang="en">
<head>
  <title>Menu Page</title>
</head>

<%- include('partials/_header') -%>
<body>
  <% for (food of menu) { %>
<<<<<<< HEAD
    <form action="/order/<%= food.id %>" method="post">
=======
    <!-- <form action="order/<%= food.id %>" method="get"> -->
>>>>>>> b02703eebcdb2536b0b19558335fdcb5e556e72d

      <article class="menu">
          <div class="menu_preview">
            <div class="top_line">
              <p>$<%= food.price %></p>
              <button type="submit" class="btn btn-primary mb-3 ">
                 <a class="order-page"  id="<%= food.id %>">
                  Add to Cart
<<<<<<< HEAD
                </a> -->
=======
                </a>
                <!--<input type="hidden" id="id" name="id" value=<%= food.id %>>>-->

          <input type="hidden" id="price" name="price" value=<%= food.price %>>
>>>>>>> b02703eebcdb2536b0b19558335fdcb5e556e72d
              </button>
            </div>
            <img class="food_image" src="<%= food.picture_url %>">
            <h5 class="food_name"><%= food.name %></h5>
            <p><%= food.description %></p>
          </div>
      </article>
    <!-- </form> -->
  <% } %>

</body>




